{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}



<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if post.collection == 'software' %}
	<p>
	  <b>
		<a href="{{ post.link }}" target="_blank">{{ title }}</a>
	  </b>
	  <br>
	  <medium>
	{{ post.description }}
      </medium>
    </p>

    {% elsif post.collection == 'teaching' %}
    <p>
      <b> {{ title }} </b>
      {% if post.link %}
      <button class="btn" onclick="window.open('{{ post.link }}', '_blank')"><i class="fas fa-chalkboard"></i> Website</button>
      {% endif %}
      <br>
      <medium>
	<em> {{ post.role }} </em>
	<br>
	{% if post.current %}
	<font color="green"> <b>{{ post.current }}</b></font>, 
	{% endif %}
	{{ post.location }}
      </medium>
    </p>
    
    {% elsif post.collection == 'publications' %}
    <p>
      <medium>
	<b>{{ title }}</b>
	<br>
	{% if post.authors %}
	<span style="color: #6c757d;">{{ post.authors }}</span>
	<br>
	{% endif %}
	{% if post.venue %}
	<em> {{ post.venue }} </em>
	{% if post.honor %}
	<font color="red"> ({{ post.honor }})</font>
	{% endif %}
	<br>
	{% endif %}
	{% if post.bibtex %}
	<a class="btn" href="{{ post.bibtex }}" download><i class="fa fa-download"></i> BibTeX</a>
	{% endif %}
	{% if post.paperurl %}
	<button class="btn" onclick="window.open('{{ post.paperurl }}', '_blank')"><i class="fas fa-fw fa-file-pdf"></i> Paper</button>
	{% endif %}
	{% if post.codeurl %}
	<button class="btn" onclick="window.open('{{ post.codeurl }}', '_blank')"><i class="fas fa-fw fa-file-code"></i> Code</button>
	{% endif %}
	{% if post.equal %}
	<br>
	<small>
	  <font color="gray"> {{ post.equal }} </font>
	</small>
	{% endif %}
      </medium>
    </p>
    {% endif %}
    
  </article>
</div>
